.welcome{
    text-align: center;
    background-image: url(images/h_img.jpg);
    background-repeat: no-repeat;
     background-size: cover; 
    height: 500px;
    width: 100%;
    color: white;
    padding-top: 5%;
    
}

.mouse{
    
}



.welcome h1 , h4{
    opacity: 0.8;
}

/* .mouse{
    left: 50%;
    margin-right: 40%;
} */
.container2{
    text-align: center;
}
.container2 h4{
    opacity: 0.6;
}

.container3{
    background-image: url(images/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 300px;
    color: white;
    padding-top: 7%;
}.container4{
    padding-top: 3%;
}
.container4 h2{
    text-align: center;
}
.icons{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

.pIconA , .pIconB , .pIconC{
    display: none;
    text-align: center;
    font-weight: bold;
    /* width: 30%; */
    padding: 0px;
    /* margin: 0px; */

}

/* .iconA , .iconB , .iconC{
    width: 30%;
} */
/* 
.onClickTextOverImage{
    cursor: pointer;
    position: relative;
    
}

.onClickTextOverImage div{
    position: absolute;
    text-align: center;
    color: black;
    opacity: 0;
    transition: 3s;
}

.onClickTextOverImage div.show{
    opacity: 1;

} */


.container5{
    padding-top: 5%;

}
.container5 img:hover{
    opacity: calc(30%);
}
.container5 h2{
    text-align: center;
    
}


.img1{
    position: relative;
}
textImage1{
    position:absolute;
    top:0;
    left:2px;
    display: none;
    /* border; ipx solid white; */
}


.img1 :hover .textImage1{
    display: block;

}
.portfolio1{
    display: flex;
    justify-content: space-evenly;
}
.portfolio2{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
}

.container6{
    justify-content: center;
    background-image: url(images/c_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    margin-top: 5%;
}

.container6 h2{
    text-align: center;
    padding-top: 3%;
    color: white;
}

 .container7{
    margin-left: 30%;
    justify-content: space-evenly;
    padding-top: 5%;

} 

form{
    justify-items: center;
     text-align: center;
    color: white;
    opacity: 0.4;
}


.container8{
    
    text-align: center;
 } 


 #img1P , #img2P , #img3P ,  #img4P , #img5P, #img6P , #img7P , #img8P {
     display: none;
     color: black;
     position: relative;
     top: -50%;
     border: 2px solid grey;
     width: 50%;
     text-align: center;
     left: 15%;
     border-radius: 30px;

 }

 .img1{
     height: 30vh;
     width: 40vh;
 }


 /* #img2P , #img3P ,  #img4P{
    display: none;
    color:red;
    position: relative;
    top: -40%;
    border: 2px solid white;
    width: 50%;
    text-align: center;
    left: 15%;
    font-size: 50px;

} */

.img2 , .img3 , .img4 ,.img5 , .img6 , .img7, .img8{
    height: 30vh;
    width: 40vh;
}

